/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

@font-face {
  font-family: 'space-grotesk';
  src: url('./fonts/spacegrotesk-variablefont_wght-webfont.woff2') format('woff2'),
        url('./fonts/spacegrotesk-variablefont_wght-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

:root {
  font-family: "Open Sans","space-grotesk", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --start-page-bg-color: var(--lunch-section-color);
  --btn-color: #ffffff;
  --btn-hover-color: var(--start-page-bg-color);
  --header-btn-accent-color: #fa7500;
  --header-bg-color: #ffffff;
  --header-height: 7rem;
  --footer-height: 3rem;
  --headline-color: #5297a2;
  --lunch-section-color: #fce9c7;
  --main-box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
#content {
  flex: 1;
  width: 100%;
  background-color: var(--headline-color);
}


header {
  min-height: var(--header-height);
  background-color: var(--lunch-section-color);
  display: flex;
  justify-content: center;
}

header > nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}


header > nav > button {
  width: 15rem;
  border: none;
  padding: 0px;
  display: grid;
  grid-template-rows: 1fr 0.6rem;
  align-items: center;
  background-color: var(--lunch-section-color);
  font-size: 1.5rem;
  font-weight: 500;
}
header > nav > button:hover {
  background-color: var(--btn-hover-color);
  grid-template-rows: 1fr 0.8rem;
}
header > nav > button:active {
  grid-template-rows: 1fr 0.6rem;
}

.btn-accent {
  background-color: var(--header-btn-accent-color);
  height: 100%;
  
}

.hero-img {
  background-image: url("./burger-hero-3.jpeg");
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;

}

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.welcome-div {
  padding: 3rem 8rem;
  background-color: var(--start-page-bg-color);
  display: grid;
  grid-template-rows: 5rem 1fr;
  margin: 0rem 2rem;
  box-shadow: var(--main-box-shadow);
}

.headline {
  font-size: 3.5rem;
  color: var(--headline-color);
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.marketing-text {
  font-weight: 450;
  font-size: 1.3rem;
}

footer {
  min-height: var(--footer-height);
  background-color: var(--start-page-bg-color);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.footer-text {
  padding-right: 2rem;
  font-weight: bold;
}

/* about */
.about-div {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.about-text-div {
  padding: 3rem 8rem;
  background-color: var(--start-page-bg-color);
  display: grid;
  grid-template-rows: 5rem 1fr;
  margin: 0rem 2rem;
  box-shadow: var(--main-box-shadow);
}

.portraits {
  padding: 0rem 2rem;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(4, 1fr);
}

.portrait-div {
  background-color: whitesmoke;
  padding: 1rem 1rem 0rem 1rem;
  box-shadow: var(--main-box-shadow);
}

.portrait-div > img {
  box-shadow: 0px 0px 1px 3px rgba(0, 0, 0, 0.459);
}

.staff-name {
  padding: 2rem 0rem;
  text-align: center;
  font-weight: 500;
  font-size: 1.1rem;
}

/* menu */
.menu-div {
  min-height: 100vh;
}

.menu-header-img {
  background-image: url("./graffiti-2.jpg");
  min-height: 50vh;
  background-size: cover;
}

.menu-lunch-section {
  background-color: var(--lunch-section-color);
  padding: 3rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

li {
  list-style: none;
  padding: 1rem;
}

.lunch-day {
  font-size: 2.2rem;
}

.menu-item-name {
  font-size: 1.7rem;
  font-weight: bold;
}

.menu-cards-section {
  padding: 3rem;
}

.menu-cards-section > h2 {
  color: var(--lunch-section-color);
  text-decoration: underline;
  text-align: center;
  margin-bottom: 2rem;
}

.menu-cards-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  gap: 1.5rem;
}

.menu-card {
  width: 100%;
  height: 36rem;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
 
  img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.9;
    transition: opacity .2s ease-out;
  }

  h2 {
    position: absolute;
    inset: auto auto 30px auto;
    width: 100%;
    text-align: center;
    margin: 0;
    transition: inset .3s .3s ease-out;
    color: var(--lunch-section-color);
    text-shadow: 1px 1px 7px black;
  }
  
  p, a {
    position: absolute;
    opacity: 0;
    transition: opacity .3s ease-out;
  }
  
  p {
    inset: auto auto 80px auto;
    width: 100%;
    text-align: center;
  }
  
  a {
    inset: auto auto 40px 30px;
    color: inherit;
    text-decoration: none;
  }
  
  &:hover h2 {
    inset: auto auto 220px auto;
    transition: inset .3s ease-out;
  }
  
  &:hover p, &:hover a {
    opacity: 1;
    transition: opacity .5s .1s ease-in;
  }
  
  &:hover img {
    transition: opacity .3s ease-in;
    opacity: 1;
  }

}


.menu-cards-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  gap: 1.5rem;
}



.card-overlay > p {
  color: var(--lunch-section-color);
  color: white;
  text-shadow: 1px 1px 5px black;
  font-weight: bold;
}